$prime: #114455
$secondary: #406976

.block
  margin: 10px
  padding: 20px

.banner
  padding: 20px
  width: 100%
  height: 200px
  background-image: url(image_path('riot_urf_background.jpg'))
  background-size: cover
  color: white
.content
  width: 95%
  margin: auto
  color: white
  main
    @extend .block
    width: 65%
    float: left
    background-color: $prime
    h1
      padding: 10px
      background-color: $secondary
  aside
    @extend .block
    width: 30%
    float: right
    background-color: $secondary
  .charts
    canvas
      margin-bottom: 40px
      height: 300px
      width: 100%
