$prime: #114455
$blue-tint: rgba(17,68,85,.5)
$secondary: #406976
$red: #990000
$red-tint: rgba(153,0,0,.5)
$background: #333333
$white: #fff
$white-tint: rgba(255,255,255,.7)
$black-tint: rgba(0,0,0,.7)

body
  background-color: $background
  background-image: url(image_path('riot_urf_background.jpg'))
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center
  background-size: 100%

.hideme
  position: absolute
  top: -9999px

.block
  margin: 10px
  padding: 20px

.wide
  padding: 20px
  margin-top: 20px
  margin-bottom: 20px
  width: 100%
  height: 200px
  background-size: cover

.header
  @extend .wide
  background-color: $black-tint
  color: white
  h1
    font-size: 60px
.stats-bg
  @extend .wide
  height: 400px
  margin-bottom: 50px
  margin-top: 50px
  background-color: $black-tint
  .statsbox
    margin: auto
    table.stats_table
      width: 100%
      height: 300px
      tr
        td
          text-size: 200%
          vertical-align: center
          width: 30%
          min-width: 300px
          padding: 20px
          .well
            height: 250px
            font-size: 60px
            text-align: center
            small
              font-size: 30px
.teemo-bg
  @extend .wide
  height: 400px
  padding: 30px
  background-color: $black-tint
  .well
    margin-left: auto
    margin-right: auto
    margin-top: 10px
    width: 80%
    min-width: 600px
    height: 250px
    font-size: 120px
    text-align: center
    small
      font-size: 30px

.bg-blur
  position: fixed
  width: 100%
  opacity: .5
  z-index: -1
  -webkit-filter: blur(15px)
  -moz-filter: blur(15px)
  -o-filter: blur(15px)
  -ms-filter: blur(15px)
  filter: blur(15px)
  img
    width: 100%
.content
  position: relative
  width: 95%
  margin: auto
  nav.subnav
    float: right
    margin-right: -10px
    i
      color: white
  main.show
    aside
      font-size: 200%
      width: 300px
      border-radius: 25px
      .name
        width: 90%
        float: left
        font-size: 200%
        background-color: $red
        margin-top: -25px
        margin-bottom: 20px
        color: white
      ul
        margin-top: 10px
        background-color: $blue-tint
        color: $white
        padding: none
        li
          list-style-type: none
          padding: 5px
      img
        border-radius: 50%
  main.index
    table
      canvas
        width: 100px
        height: 50px
      img
        border-radius: 50%
        float: left
      tr
        td
          a
            color: $prime
            text-decoration: none
          position: relative
          width: 500px
          padding: 25px
          border: solid 10px transparent
          background-color: $white-tint
          border-radius: 25px
          .name
            width: 100%
            background-color: $red
            margin-left: -25px
            margin-bottom: -20px
            margin-top: -25px
            color: white
          .rank
            position: absolute
            top: 10px
            left: 10px
            height: 50px
            width: 50px
            border-radius: 50%
            background-color: black
            text-align: center
            vertical-align: text-top
            color: white
            font-size: 200%
            padding-top: 5px
          dl
            padding: 5px
            width: 385px
            dd
              font-size: 125%
              margin-left: 5px
              float: left
            dt
              vertical-align: middle
              opacity: .7
              font-size: 75%
              float: left
            dt.pick-rate
              padding-right: 7px
.show
  canvas
    width: 1200px
    height: 300px
