.header
  %h1 URF Sampling
.stats-bg
  .statsbox
    %table.stats_table
      %tr
        %td
          .well aweifjweaf weafwfw ewfjewfj wefjwe fjef jwefj ewfjew fjewf ajefjeaf wefjwefj
        %td
          .well aweifjweaf weafwfw ewfjewfj wefjwe fjef jwefj ewfjew fjewf ajefjeaf wefjwefj
        %td
          .well aweifjweaf weafwfw ewfjewfj wefjwe fjef jwefj ewfjew fjewf ajefjeaf wefjwefj
.teemo-bg
  .well
    %span#teemoKills
    %small
      Teemo corpses
