.header
  %h1 URF Sampling
.stats-bg
  .statsbox
    %table.stats_table
      %tr
        %td
          .well
            %span#totalMatches
            Matches Sampled
        %td
          .well
            %span#totalKills
            Total Kills
        %td
          .well
            %span#totalDeaths
            Total Deaths
.teemo-bg
  .well
    %span#teemoKills
    %small
      Teemo corpses
