.header
  %h1 URF Sampling
.stats-bg
  .statsbox
    %table.stats_table
      %tr
        %td
          .well
            %span#totalMatches.odometer
            %small
              %p Matches Sampled
        %td
          .well
            %span#totalKills.odometer
            %small
              %p Total Kills
        %td
          .well
            %span#totalDeaths.odometer
            %small
              %p Total Deaths
.teemo-bg
  .well
    %span#teemoKills.odometer
    %small
      Teemo corpses
