<table>
<tr>
  <td>
    Champion
  </td>
  <td>
    Victories
  </td>
  <td>
    Losses
  </td>
<% @merged.each do |champion| %>
  <tr>
    <td>
      <%= champion.name %>
    </td>
    <td>
      <%= champion.victories %>
    </td>
    <td>
      <%= champion.losses %>
    </td>
  </tr>
<% end %>
</table>
