.content
  %main
    %canvas#myChart
    -# %br
    -# %table
    -#   Top fifty highest wins
    -#   %tr
    -#     %td
    -#       Champion
    -#     %td
    -#       Victories
    -#     %td
    -#       Losses
    -#     %td
    -#       Win Rate
    -#   - ChampionMatch.n_best(5, Time.zone.now - 1.hour).each do |champion|
    -#     %tr
    -#       %td
    -#         = champion.name
    -#       %td
    -#         = champion.victories
    -#       %td
    -#         = champion.losses
    -#       %td
    -#         = champion.win_rate
    -# %table
    -#   Top five most played
    -#   %tr
    -#     %td
    -#       Champion
    -#     %td
    -#       Victories
    -#     %td
    -#       Losses
    -#   - ChampionMatch.n_most_played.each do |champion|
    -#     %tr
    -#       %td
    -#         = champion.name
    -#       %td
    -#         = champion.victories
    -#       %td
    -#         = champion.losses
    -# %table
    -#   All champions
    -#   %tr
    -#     %td
    -#       Champion
    -#     %td
    -#       Victories
    -#     %td
    -#       Losses
    -#   - ChampionMatch.all_wins_and_losses.each do |champion|
    -#     %tr
    -#       %td
    -#         = champion.name
    -#       %td
    -#         = champion.victories
    -#       %td
    -#         = champion.losses
  %aside
    bearsbearsbears
