<table>
Merged
<% @merged.each do |champion| %>
  <tr>
    <td>
      <%= champion.name %>
    </td>
    <td>
      <%= champion.victories %>
    </td>
    <td>
      <%= champion.losses %>
    </td>
  </tr>
<% end %>
</table>
