%table
  %tr
    %td
      Champion
    %td
      Victories
    %td
      Losses
  - @merged.each do |champion|
    %tr
      %td
        = champion.name
      %td
        = champion.victories
      %td
        = champion.losses
