.content
  %nav.subnav.js-champions-index
    = fa_icon 'spinner spin', class: 'js-loading hidden'
    .btn-group.js-sort-champions{ role: 'group' }
      - t('.buttons').each do |value, text|
        - active = button_is_active?(value)
        - active_class = button_active_class(active)
        - span_class = button_glyph_class(active)
        %button.btn.btn-default{ class: active_class, type: 'button', value: value.to_s }
          %span.glyphicon{ class: span_class }
          = text
  = render 'all_champions'
