.content.js-champions-index
  %ul
    %li.dropdown
      %a.dropdown-toggle{ href: '#', 'data-toggle': 'dropdown', role: 'button', 'aria-expanded': 'false' }
        Sort by
        %span.caret
      %ul.js-sort-champions.dropdown-menu{ role: 'menu' }
        %li{ value: 'win_rate' }
          = link_to 'Win rate', '#'
        %li{ value: 'pick_rate' }
          = link_to 'Pick rate', '#'
        %li{ value: 'name' }
          = link_to 'Name', '#'
  = render 'all_champions'
